# Production Environment Variables
# This file should be used when building for Docker/Production
# Copy this to .env.production before building for production

VITE_API_URL=/api
VITE_GOOGLE_CLIENT_ID=740401836948-58gicuta3mgurqhe3igdfuf4cgol0dgj.apps.googleusercontent.com
