DATABASE_URL="mysql://user:password@db:3306/sistem_cpl"
NODE_ENV="production"
PORT=8082
CORS_ORIGIN="http://your-frontend-domain:8001"

# JWT Configuration (RS256)
JWT_PRIVATE_KEY_PATH="/app/private.key"
JWT_PUBLIC_KEY_PATH="/app/public.key"

# Email Configuration (SMTP Gmail)
SMTP_EMAIL="your-email@gmail.com"
SMTP_PASSWORD="your-app-password"
GOOGLE_CLIENT_ID=your_google_client_id_here
