# Database Configuration
# Local Development (Docker DB): mysql://root:root@localhost:3307/sistem_cpl
DATABASE_URL="mysql://root:root@localhost:3307/sistem_cpl"

# Server Configuration
NODE_ENV="development"
PORT=8002

# CORS Configuration
# Frontend URL
CORS_ORIGIN="http://localhost:8081"

# JWT Secret (change in production!)
JWT_SECRET="your-super-secret-key-change-in-production-minimum-32-characters"

# Email Configuration (SMTP Gmail)
# Use App Password if 2FA is enabled
SMTP_EMAIL=""
SMTP_PASSWORD=""
